div(class="section")
  div(class="label") Method 
  div(class="value delete") delete  
div(class="section")
  div(class="label") Route 
  div(class="value") http://localhost:8080/api/trails/{id} 
div(class="section")
  div(class="label") Description  
  div(class="value") Deletes the trail associated with the numeric ID provided in the route 
div(class="section")
  div(class="label") Response  
  div(class="value") Successfully deleted the trail with ID: 1