div(class="section")
  div(class="label") Method 
  div(class="value") get 
div(class="section")
  div(class="label") Route 
  div(class="value") http://localhost:8080/api/trails 
div(class="section")
  div(class="label") Description  
  div(class="value") Returns a list of all Trails  
div(class="section")
  div(class="label") Response  
  div(class="value")  
    pre 
      | [{
      |    id: 1,
      |    name: 'Darby Creek Trail',
      |    state: 'PA',
      |    town: 'Havertown',
      |    type: {
      |       line 1: 'Mountain Bike',
      |       line 2: 'Walking',
      |       line 3: 'Road Bike',
      |    }
      |    difficulty: 'easy',
      |    length: '2.0 mi',
      |    estTime: '50m',
      |    createdAt: '',
      |    updatedAt: '',
      |    deletedAt: null,
      | }, {
      |    id: 2,
      |    name: 'Skyline Outer Reservoir Loop',
      |    state: 'MA',
      |    town: 'Medford',
      |    type: {
      |       line 1: 'Hiking',
      |       line 2: 'Trail Running',
      |       line 3: 'Wildlife',
      |    } 
      |    difficulty: 'moderate',
      |    length: '8.1 mi',
      |    estTime: '3h 54m',
      |    createdAt: '',
      |    updatedAt: '',
      |    deletedAt: null,
      | }]