.trails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px auto 0;
  width: 60%;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px auto 0;
  width: 60%;
}